@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Media Query - extra small screens */
@media (max-width: 598px)
{

body {
    margin: .5rem;
    background-color: #93b8d7;
    color: white;
}

nav a {
    color: white;
    font-size: 2.5rem;
    padding-right: .5em;
    display: none;
}

main {
    text-align: center;
    font-family: 'Kaushan Script', fantasy, papyrus;
    margin-top: 23vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2em;
}

footer {
    display: none;
}

}