@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Default Styling */
body {
    margin: .5rem;
    background-color: #93b8d7;
    color: white;
}

nav a {
    color: white;
    font-size: 2.5rem;
    padding-right: .5em;
}

#social-links {
    display: none;
}

main {
    text-align: center;
    font-family: 'Kaushan Script', fantasy, papyrus;
    margin-top: 23vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2em;
}

footer {
    display: none;
}



/* Media Query - small screens */
@media (min-width: 598px) {

    #hamburger-menu {
        display: none;
    }

    #social-links {
        display: block;
    }
}

/* Media Query - medium screens */
@media (min-width: 768px) {
    body {
        background-image: url("../img/splash-md.jpg");
        background-position: center;
        background-size: cover;
    }

    html {
        height: 100%;
    }

    footer {
        position: fixed;
        bottom: 0px;
        right: 0px;
        display: inline-block;

    }

    main {
        text-shadow: 1px 1px #153c43;
    }

}




